:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-box {
  background-color: white;
  padding: 20px;
  border: 4px solid black;
  border-radius: 15px;
  min-width: 40%;
  text-align: center;
  font-size: 21px;
  letter-spacing: 4px;

  span {
    margin-top: 40px;
  }

  a {
    display: inline-block;
    color: #FFCB05;
    text-decoration: none;
  }
}

.catched-pokemon {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
  width: 100%;

  app-cachted-pokemon-info {
    grid-column: span 2;
  }
}
